{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}


<div class="container-sm my-3 h-50">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static\Image_1.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static\Image_2.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static\Image_3.jpg" class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h2> Add Records</h2>

  <form action="{{url_for("predict")}}" method="POST">


    <div class="form-floating">
      <textarea class="form-control" name="Text" placeholder="Leave a comment here" id="floatingTextarea2"
        style="height: 100px"></textarea>
      <label for="floatingTextarea2">Comments</label>
    </div>

    <div class="d-grid gap-2">
      <button class="btn btn-outline-dark my-2" type="submit" value = " " name="btn_predict">Predict</button>
    </div>
  </form>


  <div class="container-sm my-3">
    <h2>Predictions</h2>

    <div class="alert alert-dark" role="alert">
      {{Prediction}}
    </div>
    {% if Button == 1 %}
    <div class="d-grid gap-2 col-6 mx-auto">
      <h2> Correct Me !</h2>
      <form action="{{url_for("retrain")}}" method="POST">
        <button class="btn btn-outline-primary" type="submit" value="right" name="choice">I was Right</button>
        <button class="btn btn-outline-danger" type="submit" value="wrong" name="choice">I was Wrong</button>
    </div>
    {% endif %}

    {% if Choice == 1 %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>"The weights were changed</strong>, thank you for correcting me! Happy Learning :)"
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}


  </div>

</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
{% endblock body %}